(% extends 'inventario/base.html' %)

{% block title %} 
  vista Productos 
{% endblock %}

{% block header %} 

 <h1>Lista de Productos</h1>
{% endblock %}

{% block breadcrumb %}
 <a href="/inventario/Productos">/inventario/Productos</a>
{% endblock %}

{% block content %}
<section>
    <h2>productos disponibles</h2>
    <p>Aqui tenemos las mejores frutas del mercado</p>
    <ul>
        {% for producto in productos %}
        <li>
            <span>{{producto.nombre }}</span>
            <span>{{producto.precio}}</span>
            <span>{{producto.descripcion}}</span>
            <span>{{producto.stock}}</span>
        

        </li>
        {% endfor %}
    </ul>
</section>
{% endblock %}
{% block footer%}
    <footer>
        <span>Derechos reservados &copy; 2024</span>
    </footer>   
{% endblock %}


